<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Shopping-Cart Items</title>

    <link rel="stylesheet" href='css/styles.css'type="text/css" />
  </head>
  
  <h1>Shopping Cart Items</h1>
  <section class="items">
    <div class='block'>
    <header class="item"><h3>Milk</h3></header>
    <footer class="add-to-cart">
        <form action="cart.html" method="POST">
            <input type="text" value="Milk" name="item-name">
            <input type="Button" value="Add To Cart">
        </form>
    </footer>
  </div>
</section>
<section class="items">
  <div class='block'>
  <header class="item"><h3>Bread</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Bread" name="item-name">
          <input type="Button" value="Add To Cart">
      </form>
  </footer>
</div>
</section>
<section class="items">
  <div class='block'>
  <header class="item"><h3>Eggs</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Eggs" name="item-name">
          <input type="Button" value="Add To Cart">
      </form>
  </footer>
  </div>
</section>

<section class="items">
  <div class='block'>
  <header class="item"><h3>Cereal</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Cereal" name="item-name">

          <input type="Button" value="Add To Cart">
      </form>
  </footer>
</div>
</section>
<section class="items">
  <div class='block'>
  <header class="item"><h3>Fruit</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Fruit" name="item-name">
          <input type="Button" value="Add To Cart">
      </form>
  </footer>
</div>
</section>
<section class="items">
  <div class='block'>
  <header class="item"><h3>Vegetables</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Vegetables" name="item-name">
          <input type="Button" value="Add To Cart">
      </form>
  </footer>
</div>
</section>
<section class="items">
  <div class='block'>
  <header class="item"><h3>Ice-Cream</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Ice-Cream" name="item-name">
          <input type="Button" value="Add To Cart">
      </form>
  </footer>
</div>
</section>
<section class="items">
  <div class='block'>
  <header class="item"><h3>Chocolate</h3></header>
  <footer class="add-to-cart">
      <form action="cart.html" method="POST">
          <input type="text" value="Chocolate" name="item-name">
          <input type="Button" value="Add To Cart">
      </form>
      <a href=cart.html><div><h2>To Cart</h2></div></a>
  </footer>
</div>
</section>
</div>

